<h1 class="display-4 text-center">Timeline</h1>

<div class="timeline">
  <ul>
    <% @posts.each do |post| %>
    <li>
      <div class="content">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
      </div>
      <div class="point"></div>
      <div class="date">
        <h4><%= post.created_at.strftime("%d %B %Y") %></h4>
      </div>
    </li>
    <% end %>
  </ul>
</div>
